In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
AidCoin=pd.read_csv("AidCoin.csv")
decred=pd.read_csv("decred.csv")
ecobit=pd.read_csv("ecobit.csv")
faircoin=pd.read_csv("faircoin.csv")
df1=AidCoin.loc[:,["Date","Close","Market_Cap"]]
df2=decred.loc[:,["Date","Close","Market_Cap"]]
df3=ecobit.loc[:,["Date","Close","Market_Cap"]]
df4=faircoin.loc[:,["Date","Close","Market_Cap"]]

In [3]:
#replace "-" with 0 in the Market_Cap
#df1= df1.drop(df1[df1.Market_Cap == "-"].index)
#df2= df2.drop(df2[df2.Market_Cap == "-"].index)
#df3= df3.drop(df3[df3.Market_Cap == "-"].index)
#df4= df4.drop(df4[df4.Market_Cap == "-"].index)

In [4]:
#Replace all "-" in Market_cap with 0
for i in range(len(df1)):
    df1.iloc[i,2]=df1.iloc[i,2].replace("-", str(0))
for i in range(len(df2)):
    df2.iloc[i,2]=df2.iloc[i,2].replace("-", str(0))
for i in range(len(df3)):
    df3.iloc[i,2]=df3.iloc[i,2].replace("-", str(0))
for i in range(len(df4)):
    df4.iloc[i,2]=df4.iloc[i,2].replace("-", str(0))

In [5]:
for i in range(len(df1)):
    df1.iloc[i,2]=df1.iloc[i,2].replace(" ", "")
    df1.iloc[i,2] = int(df1.iloc[i,2])
for i in range(len(df2)):
    df2.iloc[i,2]=df2.iloc[i,2].replace(" ", "")
    df2.iloc[i,2] = int(df2.iloc[i,2])
for i in range(len(df3)):
    df3.iloc[i,2]=df3.iloc[i,2].replace(" ", "")
    df3.iloc[i,2] = int(df3.iloc[i,2])
for i in range(len(df4)):
    df4.iloc[i,2]=df4.iloc[i,2].replace(" ", "")
    df4.iloc[i,2] = int(df4.iloc[i,2])

In [25]:
df = pd.merge(df4, df3, on='Date', how='left')
df=pd.merge(df,df2, on='Date', how='left')
df=pd.merge(df,df1, on='Date', how='left')
df.columns = ['Date','faircoin_Close','faircoin_Market','ecobit_Close','ecobit_Market',
                     "decred_Close",'decred_Market','AidCoin_Close','AidCoin_Market']
df=df.fillna(0)

In [45]:
df

,Date,faircoin_Close,faircoin_Market,ecobit_Close,ecobit_Market,decred_Close,decred_Market,AidCoin_Close,AidCoin_Market,weighted_close
0,Oct 02 2019,0.008388,446166,0.003803,1690337.0,17.26,180781776.0,0.008582,391753.0,True
1,Oct 01 2019,0.044174,2349775,0.003803,1690337.0,17.46,182788420.0,0.008789,401192.0,True
2,Sep 30 2019,0.016597,882883,0.003730,1657680.0,17.45,182607653.0,0.008581,391716.0,True
3,Sep 29 2019,0.016274,865656,0.003454,1534903.0,17.67,184785280.0,0.009617,438985.0,True
4,Sep 28 2019,0.017081,908604,0.003454,1534903.0,18.02,188332327.0,0.011105,506917.0,True
5,Sep 27 2019,0.017081,908604,0.003454,1534903.0,17.55,183375628.0,0.010463,477611.0,True
6,Sep 26 2019,0.017081,908604,0.003484,1548653.0,16.85,175994832.0,0.008055,367697.0,True
7,Sep 25 2019,0.017081,908604,0.004875,2166564.0,17.36,181177331.0,0.008649,394785.0,True
8,Sep 24 2019,0.017434,927403,0.004875,2166564.0,17.84,186177323.0,0.008528,389290.0,True
9,Sep 23 2019,0.019823,1054475,0.004875,2166564.0,20.67,215619619.0,0.009861,450141.0,True
10,Sep 22 2019,0.037420,1990520,0.004875,2166564.0,22.24,231818976.0,0.011293,515514.0,True
11,Sep 21 2019,0.037378,1988288,0.004875,2166564.0,22.44,233842696.0,0.011111,507194.0,True
12,Sep 20 2019,0.030253,1609296,0.004889,2173086.0,23.13,240906648.0,0.011658,532176.0,True
13,Sep 19 2019,0.023715,1261510,0.003620,1608720.0,23.47,244350119.0,0.011898,543116.0,True
14,Sep 18 2019,0.023552,1252820,0.003620,1608720.0,23.05,239854738.0,0.011120,507620.0,True
15,Sep 17 2019,0.025967,1381292,0.003620,1608720.0,22.29,231860060.0,0.011300,515819.0,True
16,Sep 16 2019,0.025967,1381292,0.003620,1608720.0,21.98,228515928.0,0.010182,464766.0,True
17,Sep 15 2019,0.025967,1381292,0.003620,1608720.0,22.85,237408664.0,0.009893,451578.0,True
18,Sep 14 2019,0.025987,1382366,0.003624,1610627.0,23.19,240897019.0,0.010886,496907.0,True
19,Sep 13 2019,0.030031,1597475,0.005383,2392570.0,23.19,240784020.0,0.010420,475667.0,True
20,Sep 12 2019,0.026103,1388513,0.005383,2392570.0,23.40,242850039.0,0.010092,460690.0,True
21,Sep 11 2019,0.032538,1730809,0.005383,2392570.0,22.62,234593487.0,0.010133,462558.0,True
22,Sep 10 2019,0.032782,1743798,0.005383,2392570.0,22.92,237634118.0,0.010219,466462.0,True
23,Sep 09 2019,0.032860,1747948,0.005383,2392570.0,24.19,250679201.0,0.010102,461139.0,True
24,Sep 08 2019,0.033719,1793658,0.005383,2392570.0,24.93,258167234.0,0.010628,485135.0,True
25,Sep 07 2019,0.031330,1666537,0.005362,2383006.0,24.37,252305013.0,0.010304,470332.0,True
26,Sep 06 2019,0.026571,1413417,0.003313,1472646.0,23.99,248216978.0,0.010253,468021.0,True
27,Sep 05 2019,0.026571,1413417,0.003853,1712295.0,24.70,255432609.0,0.010515,479979.0,True
28,Sep 04 2019,0.026571,1413417,0.003853,1712295.0,24.85,256937619.0,0.010456,477288.0,True
29,Sep 03 2019,0.026800,1425605,0.003853,1712295.0,25.59,264407032.0,0.010466,477759.0,True
...,...,...,...,...,...,...,...,...,...,...
1932,Apr 20 2014,0.014588,729680,0.000000,0.0,0.00,0.0,0.000000,0.0,True
1933,Apr 19 2014,0.013551,677804,0.000000,0.0,0.00,0.0,0.000000,0.0,True
1934,Apr 18 2014,0.012349,617671,0.000000,0.0,0.00,0.0,0.000000,0.0,True
1935,Apr 17 2014,0.017066,853582,0.000000,0.0,0.00,0.0,0.000000,0.0,True
1936,Apr 16 2014,0.014810,740716,0.000000,0.0,0.00,0.0,0.000000,0.0,True
1937,Apr 15 2014,0.007743,387257,0.000000,0.0,0.00,0.0,0.000000,0.0,True
1938,Apr 14 2014,0.019569,978699,0.000000,0.0,0.00,0.0,0.000000,0.0,True
1939,Apr 13 2014,0.024114,1205978,0.000000,0.0,0.00,0.0,0.000000,0.0,True
1940,Apr 12 2014,0.012602,630220,0.000000,0.0,0.00,0.0,0.000000,0.0,True
1941,Apr 11 2014,0.007904,395279,0.000000,0.0,0.00,0.0,0.000000,0.0,True
1942,Apr 10 2014,0.005622,281132,0.000000,0.0,0.00,0.0,0.000000,0.0,True
1943,Apr 09 2014,0.010142,507170,0.000000,0.0,0.00,0.0,0.000000,0.0,True
1944,Apr 08 2014,0.006340,317004,0.000000,0.0,0.00,0.0,0.000000,0.0,True
1945,Apr 07 2014,0.003381,169069,0.000000,0.0,0.00,0.0,0.000000,0.0,True
1946,Apr 06 2014,0.002878,143909,0.000000,0.0,0.00,0.0,0.000000,0.0,True
1947,Apr 05 2014,0.002687,134331,0.000000,0.0,0.00,0.0,0.000000,0.0,True
1948,Apr 04 2014,0.002236,111827,0.000000,0.0,0.00,0.0,0.000000,0.0,True
1949,Apr 03 2014,0.002181,109049,0.000000,0.0,0.00,0.0,0.000000,0.0,True
1950,Apr 02 2014,0.001849,92450,0.000000,0.0,0.00,0.0,0.000000,0.0,True
1951,Apr 01 2014,0.003880,193991,0.000000,0.0,0.00,0.0,0.000000,0.0,True
1952,Mar 31 2014,0.002292,114593,0.000000,0.0,0.00,0.0,0.000000,0.0,True
1953,Mar 30 2014,0.003256,162812,0.000000,0.0,0.00,0.0,0.000000,0.0,True
1954,Mar 29 2014,0.001959,97947,0.000000,0.0,0.00,0.0,0.000000,0.0,True
1955,Mar 28 2014,0.001492,74604,0.000000,0.0,0.00,0.0,0.000000,0.0,True
1956,Mar 27 2014,0.001019,50940,0.000000,0.0,0.00,0.0,0.000000,0.0,True
1957,Mar 26 2014,0.004098,204888,0.000000,0.0,0.00,0.0,0.000000,0.0,True
1958,Mar 25 2014,0.004134,206687,0.000000,0.0,0.00,0.0,0.000000,0.0,True
1959,Mar 24 2014,0.004854,242705,0.000000,0.0,0.00,0.0,0.000000,0.0,True
1960,Mar 23 2014,0.004120,205987,0.000000,0.0,0.00,0.0,0.000000,0.0,True
1961,Mar 22 2014,0.004520,226016,0.000000,0.0,0.00,0.0,0.000000,0.0,True

In [46]:
weighted_close=[]
for i in range(len(df)):
    a=((df.iloc[i,1])*(df.iloc[i,2])+(df.iloc[i,3])*(df.iloc[i,4])+(df.iloc[i,5])*(df.iloc[i,6])\
    +(df.iloc[i,7])*(df.iloc[i,8]))/(df.iloc[i,2]+df.iloc[i,4]+df.iloc[i,6]+df.iloc[i,8])
    weighted_close.append(a)

In [60]:
df_close = pd.DataFrame(df['Date'],columns=['Date']) 
df_close = df_close.assign(weighted_close = weighted_close)
#df_close = df_close.insert(1,"weighted_close",weighted_close,True)

In [61]:
df_close

              Date  weighted_close
0     Oct 02  2019       17.022020
1     Oct 01  2019       17.046436
2     Sep 30  2019       17.174350
3     Sep 29  2019       17.402705
4     Sep 28  2019       17.742190
5     Sep 27  2019       17.274956
6     Sep 26  2019       16.583941
7     Sep 25  2019       17.033925
8     Sep 24  2019       17.512514
9     Sep 23  2019       20.324124
10    Sep 22  2019       21.800967
11    Sep 21  2019       22.001745
12    Sep 20  2019       22.723305
13    Sep 19  2019       23.146833
14    Sep 18  2019       22.730878
15    Sep 17  2019       21.958187
16    Sep 16  2019       21.652848
17    Sep 15  2019       22.523680
18    Sep 14  2019       22.859035
19    Sep 13  2019       22.768005
20    Sep 12  2019       22.998515
21    Sep 11  2019       22.186601
22    Sep 10  2019       22.484798
23    Sep 09  2019       23.754248
24    Sep 08  2019       24.487224
25    Sep 07  2019       23.941383
26    Sep 06  2019       23.670340
27    Sep 05  2019       24.356378
28    Sep 04  2019       24.506540
29    Sep 03  2019       25.244974
...            ...             ...
1932  Apr 20  2014        0.014588
1933  Apr 19  2014        0.013551
1934  Apr 18  2014        0.012349
1935  Apr 17  2014        0.017066
1936  Apr 16  2014        0.014810
1937  Apr 15  2014        0.007743
1938  Apr 14  2014        0.019569
1939  Apr 13  2014        0.024114
1940  Apr 12  2014        0.012602
1941  Apr 11  2014        0.007904
1942  Apr 10  2014        0.005622
1943  Apr 09  2014        0.010142
1944  Apr 08  2014        0.006340
1945  Apr 07  2014        0.003381
1946  Apr 06  2014        0.002878
1947  Apr 05  2014        0.002687
1948  Apr 04  2014        0.002236
1949  Apr 03  2014        0.002181
1950  Apr 02  2014        0.001849
1951  Apr 01  2014        0.003880
1952  Mar 31  2014        0.002292
1953  Mar 30  2014        0.003256
1954  Mar 29  2014        0.001959
1955  Mar 28  2014        0.001492
1956  Mar 27  2014        0.001019
1957  Mar 26  2014        0.004098
1958  Mar 25  2014        0.004134
1959  Mar 24  2014        0.004854
1960  Mar 23  2014        0.004120
1961  Mar 22  2014        0.004520

[1962 rows x 2 columns]

In [62]:
df_close.to_csv("weighted_Close.csv")